<app-scene-fight *ngIf="currentScene == Scene.Fight" [location]="locationToDisplay"></app-scene-fight>
<app-scene-exploration [explorations]="explorations" (explorationEmitter)="resolveExploration($event)" *ngIf="currentScene == Scene.Exploration"></app-scene-exploration>
<app-scene-inventory *ngIf="currentScene == Scene.Inventory" [inventory]="playerInventory"></app-scene-inventory>
<app-location-selection *ngIf="currentScene == Scene.FightLocationSelection" [locations]="locations" (fightingLocationEmitter)="resolveFightingLocationSelection($event)"></app-location-selection>
<app-location-team-selection *ngIf="currentScene == Scene.FightLocationTeamSelection" [location]="locationToDisplay" (teamSelected)="resolveStartFight($event)"></app-location-team-selection>
<br/>
<button (click)="displayActionsScene()">Explore</button>
<button (click)="displayLocationSelectionScene()">Fights</button>
<button (click)="displayInventoryScene()">Inventory</button>